<div class="container">
    <header>
        <h1>Twoje zamówienia</h1>
        <hr>
    </header>
    <div *ngIf="errorMsg.errorOccured" class="alert alert-danger" role="alert">
        {{errorMsg.errorMsg}}
      </div>
    <app-spinner *ngIf="isLoading"></app-spinner>
    <div *ngIf="!orders">
      <p style="font-size: 24px;">Nie masz teraz żadnych zamówień.</p>
    </div>
    <ul class="list-group" *ngIf="orders&&!isLoading">
        <app-order-item *ngFor="let order of orders;" [order]="order"></app-order-item>
      </ul>
</div>