<div class="container">
    <header>
        <h1>Twoje zamówienia</h1>
        <hr>
    </header>
    <div *ngIf="errorMsg.errorOccured" class="alert alert-danger" role="alert">
        {{errorMsg.errorMsg}}
      </div>
    <app-spinner *ngIf="isLoading"></app-spinner>

    <ul class="list-group" *ngIf="orders&&!isLoading">
        <li *ngFor="let item of orders.shoppingCartItems" class="list-group-item"> <img [src]="item.imageURL" alt="image">
              <span class="item-name">{{item.name}} | Cena: {{item.price}} PLN<i class="fa fa-trash-o" 
            ></i></span> 
        </li>
      </ul>
</div>