$max-size:50px;

.list-group {
  margin-bottom: $max-size*2;

  .list-group-item {
    &:hover {
      background-color: rgba($color: #8d8c8c, $alpha: 0.8);
      color: rgb(252, 235, 235);
    }


    .item-name {
      position: absolute;
      left: $max-size*3;

      .fa-trash-o {
        margin-left: $max-size/2;

        font-size: $max-size*0.6;
        transition: 0.3s;

        &:hover {
          transform: scale(1.1);
          cursor: pointer;
        }
      }


    }

    img {
      margin-right: $max-size;
      max-height: $max-size;
    }
  }
}
