$max-size:50px;

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(1deg);
  }

  20% {
    transform: translate(-1px, -1px) rotate(-1deg);
  }

  40% {
    transform: translate(1px, 1px) rotate(1deg);
  }

  60% {
    transform: translate(-1px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(1px, 1px) rotate(1deg);
  }

  100% {
    transform: translate(-1px, -1px) rotate(-1deg);
  }
}

.list-group {
  margin-bottom: $max-size*2;

  .list-group-item {
    &:hover {
      background-color: rgba($color: #8d8c8c, $alpha: 0.8);
      color: rgb(252, 235, 235);
    }

    .item-name {
      position: absolute;
      left: $max-size*3;

      .fa-trash-o {
        margin-left: $max-size/2;

        font-size: $max-size*0.6;
        transition: 0.3s;

        &:hover {
          transform: scale(1.1);
          animation: shake 0.5s infinite;
          cursor: pointer;
        }
      }
    }
    img {
      margin-right: $max-size;
      max-height: $max-size;
    }
  }
}