<div class="container">
  <h2>
    Zarejestruj się
  </h2>
  <hr>
  <app-spinner *ngIf="isLoading"></app-spinner>
</div>

<form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
 
  <div class="container">
    <div class="form-group">
      <label for="signup-email">Email</label>
      <input type="email" class="form-control" id="signup-email" aria-describedby="emailHelp"
        placeholder="abc@example.com" required formControlName="email">
      <small id="signup-email" class="form-text text-muted"
        *ngIf="email?.invalid && (email?.touched||email?.dirty)">Wpisz prawidłowy adres e-mail</small>
    </div>
    <div class="form-group mb-4">
      <label for="signup-password">Hasło</label>
      <input type="password" class="form-control" id="signup-password" placeholder="Password" required
        formControlName="password">
      <small id="signup-password" class="form-text text-muted"
        *ngIf="password?.invalid&&(password?.touched||password?.dirty)">
        Twoje hasło musi mieć co najmniej 8 liter.
      </small>
    </div>
    <button type="submit" class="btn btn-primary">Zarejestruj</button>
  </div>
</form>
