<div class="container">
    <header>
        <h1>Wybierz buty, kóre pasują do Ciebie!</h1>
        <hr>
    </header>
</div>
<div class="container">
    <div *ngIf="errorMsg.errorOccured" class="alert alert-danger" role="alert">
        {{errorMsg.errorMsg}}
      </div>
    <div class="loader" *ngIf="isLoading">Loading...</div>
    <div class="row" mb-5>
        <div class=" col-m-3" *ngFor="let item of itemsArray; let i = index">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" [src]="item.imageURL" [alt]="item.name" style="width: 100%;">
                <div class="card-body">
                  <h5 class="card-title">{{item.name}}</h5>
                  <p>Rozmiar: {{item.desc.size}}</p>
                  <p>Płeć: {{item.desc.gender}}</p>
                  <p>Cena {{item.price}} PLN</p>
                <a class="btn btn-primary" [attr.data-id]="item.id" (click)="addToCart($event)">Dodaj do koszyka</a>
                </div>
              </div>
        </div>
    </div>
</div>